@font-face { 
    font-family: 'ITCAvantGardeStd-XLtCn'; 
    src: url('ITCAvantGardeStd-XLtCn.otf') format('opentype'); 
}


body {
  background-color : black;
  margin: auto;
}
/*
span {
  display : table;
  margin-left : auto;
  margin-right : auto;
}*/

.time {
  font-family: ITCAvantGardeStd-XLtCn;
  font-size: 40vw;
  /*line-height: 50vh;*/
  text-align: center;
  display : inline;
  margin : auto;
}

#hour {
  color : white;
}

#min {
  color : #87e1ff;
}