body { font-size: 16px; font-weight: 300; line-height: 1.5em; color: #FFF; min-height: 50vh; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }
.container { max-width: 1200px; }

/*--- POMODORO CONTAINER ---*/
.pomodoro { margin: 0vh auto;
font-family: 'Oswald', sans-serif; 
text-align: center; 
background: rgba(44, 62, 80, 0.85); 
max-width: 300px; 
border: 1px solid rgba(255,255,255,0.07); 
border-radius: 3px; }


/*--- SESSION BTNS ---*/
.session { font-size: 20px; padding: 10px 0 7px 0; margin: 0 auto; overflow: hidden; border-bottom: 1px solid rgba(255,255,255,0.15); }
.session div { margin: 0px auto; overflow: hidden; width: auto; display: inline-block; }
.session i { font-size: 10px; display: inline-block; height: 24px; width: 24px; line-height: 22px; border-radius: 4px; border: 1px solid rgba(255,255,255,0.2); cursor: pointer; transition: all .25s; overflow: hidden; float: left; }
.session i:hover { background: rgba(255,255,255,1); color: #2c3e50; }
.session i.unselect, .session i.unselect:hover { cursor: default; background: transparent; color: #FFF; opacity: 0.5; }
.session span { display: inline-block; line-height: 1.3em; float: left; width: 40px; }

/*--- COUNTER ---*/
.countdown { display: block; font-size: 110px; line-height: 1em; padding: 85px 0 105px 0; position: relative; overflow: hidden; }
.countdown span { position: relative; z-index: 1;}
.filler { position: absolute; top: 300px; width: 100%; height: 300px; background: rgba(255,255,255,0.2); }

/*--- BUTTONS ---*/
button.btn { display: block; width: 100%; border-radius: 0; border: 0; border-top: 1px solid rgba(255,255,255,0.15); background-color: rgba(0,0,0,0.2); font-size: 21px; padding: 12px 0 10px 0; line-height: 1em; color: #FFFFFF; letter-spacing: 0.05em; transition: all .25s; outline: 0; }
button.btn:hover { color: #2c3e50; background: #FFF; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: 0; color: #FFFFFF; }
.btn.focus, .btn:focus { background-color: rgba(0,0,0,0.2); }